.Rproj.user
.Rhistory
.RData
.Ruserdata
_book/*
_book/libs/*
_book/stat601_manual_files/*
_bookdown_files/*
_main.Rmd
packages.bib
stat601.Rproj

labs/*.pdf
labs/*.tex
labs/*.log
labs/*.out
labs/*.aux
labs/*.Rnw~
labs/*.tex

assignments/*.pdf
assignments/*.tex
assignments/*.log
assignments/*.out
assignments/*.aux
assignments/*.Rnw~
assignments/*.tex